# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/
.next/

# Build
dist/
build/
backend/venv/

# Audio Test Files
backend/tests/audio_samples/*.wav
backend/tests/audio_samples/*.m4a
backend/tests/audio_samples/*.mp3
backend/tests/results/
